{% extends "base.html" %} {% block content %}

<div style="background-image:url('static/bg1.jpg');background-size:100% 100%;
    background-repeat: no-repeat;padding-left:110px;width:450px;height:510px; border: 1px solid;
  box-shadow: 5px 10px 8px 10px #888888;">
    <form id="upload-file" method="post" enctype="multipart/form-data" >
        <h2>Diagnosis Panel</h2>
        <br>
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}
